{% extends 'base.html' %}
{% block body %}
<h1>{{ the_title }}</h1>

<form method='POST' action='/finddist'>
<h2>DISTANCE CALCULATOR Ⓒ,PYTHON and GOOGLEMAPS</h2>
<p>Python Client for Google Maps Services
Build Status

Description
This library brings the Google Maps API Web Services to your Python application. Analytics

The Python Client for Google Maps Services is a Python Client library for the following Google Maps APIs:

Directions API,Distance Matrix API,Elevation API,Geocoding API,Geolocation API,Time Zone API,Roads API,Places API</p>

<h3>Check distance and time between Source and Destination</h3>
<p><input value='Search!' type='SUBMIT'></p>
</form>

{% endblock %}

